
/* seccion header */

/* -------------- */

/* seccion main-excgange-container */

main .main-excgange-container .main-excgange-contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 25vh;
    margin: 0 auto;
    
    
}

main .main-excgange-container .background-image{
    width: 100%;
    max-width: 300px;
    min-width: 200px;
}

.main-excgange-container--title{
    margin-left: 5rem;
}



/* -------------------------------- */

/* seccion beneficios */

.main-container-beneficios--flex{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 95%;
    flex-wrap: wrap;
    height: auto;
    margin: 0 auto;
    
    
}

.main-beneficios--logo-container:nth-child(1){
    flex: 1 0 25%;
    
}

.main-beneficios--logo-container:nth-child(2){
    flex: 1 0 25%;
}

.main-beneficios--logo-container:nth-child(3){
    flex: 1 0 25%;
}

.main-beneficios--logo-container:nth-child(4){
    flex: 1 0 25%;
}